extends layout

block content
  div#header Show Shots
  div#container
    h3#artists_header Search For Artists
    div#artists
      input(type='text', name='artist_search')#artist_search
      input(type='submit', value='search')#artist_search_submit
      div#artist_search_results
    h3#shows_header Select Shows
    div#shows
    h3#images_header Show Shots!
    div#images

  
