#header {
    width:  200px;
    margin-left:  auto;
    margin-right:  auto;
    font-family:Courier,monospace;
    font-size:28px;
    padding:20px;
}

h3 {
    font-size: 14px;
}

#container {
    /*border: solid 1px black;*/
    width:  800px;
    margin-left:  auto;
    margin-right:  auto;
}

#artists {
}

#artist_search {
    width:  200px;
}

#artist_search_submit {
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding 5px;
}

#artist_selected {
    margin-left: 10px;
    font-size:  14px;
}

.artist_list, .show_listing {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:  12px;
}
.artist_list:hover, .show_listing:hover {
    background: #F39814;
    color:  white;
    cursor: pointer;
}

#artists {
}

.show_date {
    font-size: 14px;
}

.show_details {
    margin-left:  20px;
    font-size: 14px;
}

#images {
    height:  400px;
}
